<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Display student details...</h1>
        <table border="1px">
            <tr><th>CName</th>
            <th>Sname</th>
            <th>Sid</th></tr>

                {% for so in QLSO %}
                    <tr>
                        <td>{{so.CName}}</td>
                        <td>{{so.Sname}}</td>
                        <td>{{so.Sid}}</td>
                    </tr>
                {% endfor %}
        </table>



    </center>
</body>
</html>